@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

main .table {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}


header,
section {
  overflow-x: hidden;
}


main .firebase {
  padding-top: 5%;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 10%;
}

:root {
  --Sniglet-font: "Sniglet", cursive;
  --Rubik: "Rubik", cursive;
  --Patua: "Patua One", cursive;
  --Lobster: "lobster", cursive;
  --light-black: #2e2c2caf;
  --bggradient: linear-gradient(to bottom, #dd2476, #ff512f);
  --light-gray: rgba(255, 255, 255, 0.877);
}

header a {
  font-family: Avenir Next, var(--Sniglet-font);
  font-size: 0.9em;
  color: whitesmoke;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

header .nav-item:last-child {
  padding-right: 10.5em;
}

header .nav-item {
  padding: 0.9em;
}

header .navbar-brand {
  margin-left: 8rem;
  color: rgba(255, 255, 255, 1);
}

header .navbar-brand:hover {
  margin-left: 8rem;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.5s ease;
}

header .nav-link:hover {
  color: rgba(255, 255, 255, 0.5);
  transition: 0.5s ease;
}

header .nav-link {
  color: rgba(255, 255, 255, 1);
}

header .row .col-md-7 {
  padding: 22vmin 1vmin;
  padding-bottom: 35vmin;
}

header .row .col-md-5 {
  padding: 4.2vmin 1vmin;
}

header .row .col-md-5 img {
  padding-top: 100px;
  width: 250px;
}

header {
  background: #ff512f;
  background: var(--bggradient);
}

header .container .col-md-7 {
  font-family: "Rubik", sans-serif;
}

header .container .col-md-7 h6 {
  padding: 1vmin;
  letter-spacing: 4px;
}

header .container .col-md-7 h1 {
  font-size: 8.5vmin;
  font-weight: bold;
  padding: 0.1em 0em;
  letter-spacing: 25px;
}

header .container .col-md-7 p {
  padding: 1vmin 5vmin;
}

.primary-btn {
  border-radius: 30px;
  font-weight: bold;
}

.section-1 {
  padding: 20vmin 0vmin;
}

.section-1 .row .col-md-6 .pray img {
  opacity: 0.8;
  width: 200%;
  border-radius: 0.2em;
}

.section-1 .row .col-md-6:last-child {
  position: relative;
}

.section-1 .row .col-md-6 .panel {
  position: absolute;
  top: 7vmin;
  left: -18vmin;
  background: white;
  border-radius: 3px;
  text-align: left;
  padding: 13vmin 5vmin 20vmin 10vmin;
  box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
  font-family: var(--Rubik);
  z-index: 1;
}

.section-1 .row .col-md-6 .panel h1 {
  font-weight: bold;
  padding: 0.4em 0;
  font-size: 2em;
}

.section-1 .row .col-md-6 .panel p {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.5);
}

.purchase > h1 {
  padding-top: 15vmin;
  padding-bottom: 0.1em;
  font-family: var(--Lobster);
}

.purchase > p {
  color: var(--light-black);
  font-size: 3vmin;
  padding-bottom: 10vmin;
}

.purchase .cards .card {
  width: 15rem;
  margin: 3vmin 3vmin;
}

.cards div {
  padding: 0;
  margin: 0;
  border-radius: 10px;
}

.cards .title {
  background: rgba(0, 0, 0, 0.815);
  padding: 1.4em 2.5em;
  font-size: 2vmin;
  color: white;
}

.card .card-text {
  padding: 2.5rem 3rem;
  color: var(--light-black);

}

.card-body .pricing {
  background: rgba(208, 241, 241, 0.199);
  border-top-right-radius: 170px;
  border-top-left-radius: 170px;
}

.card-body .pricing > h1 {
  font-size: 10vmin;
  padding: 1em 0.5em;
}

/* Section 3 */

.section-3 {
  height: 70vmin;
  margin-top: 15vmin;
  background: var(--bggradient);
}

.section-3 .col-md-12 > h1 {
  padding: 2em 0 0.5em 0;
  color: whitesmoke;
  font-size: 6vmin;
}

.section-3 .col-md-12 > p {
  padding: 0 4em;
  padding-bottom: 2em;
  color: var(--light-gray);
  font-size: 3vmin;
}

.section-3 .desktop {
  background: white;
  display: inline-block;
  border-radius: 3em;
  padding: 2vmin 4.5vmin;
  margin: 1em;
}

.section-3 .desktop h3 {
  font-size: 4vmin;
}

.section-3 .desktop p {
  font-size: 2vmin;
}

/* Section Team */

.section-4 .container h1 {
  font-size: 6vmin;
  padding-top: 14vmin;
}

.section-4 .team {
  padding: 10vmin 4vmin;
}

.section-4 .card {
  width: 22em;
  margin-top: 10vmin;
}

.section-4 .card .card-text {
  padding: 0.5em;
}

.section-4 .card-body > a {
  font-size: 1.5em;
}

.section-4 .carousel-item {
  padding-left: 3rem;
}

.border-radius {
  border-radius: 340px;
  width: 60%;
}

footer {
  background: rgba(0, 0, 0, 0.815);
  overflow-x: hidden;
  padding: 14vmin 18vmin;
}

footer p > span {
  color: #ff512f;
}


ul li a:hover {
  color: rgba(255, 255, 255, 0.75);
}

footer input {
  border: none !important;
}

footer input::placeholder {
  color: white !important;
}

footer .input-group .input-group-text {
  background: var(--bggradient);
  border: none;
}

footer .column i {
  color: #dd2476;
}

footer .column i + i {
  padding: 0 0.5em;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.815);
  z-index: 9999;
  transition: all 1.5s ease;
}

body, html {
		height: 100%;
		margin: 0;
		padding: 0;
		text-rendering: geometricPrecision;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
		-webkit-overflow-scrolling: touch!important;
		touch-action: manipulation!important;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}

	body main {
    margin-left: auto;
    margin-right: auto;
  }
  

  .top-bar {
    padding: 10px;
  }

  .ios13-segmented-control {
		--background: rgba(239,239,240,1);
		background: var(--background);
		border-radius: 9px;
		margin: 0;
		padding: 2px;
		border: none;
		outline: none;
		display: grid;
		grid-auto-flow: column;
		grid-auto-columns: 1fr;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
    user-select: none;
    height: 33px;
	}

	.ios13-segmented-control .option {
		position: relative;
    cursor: pointer;
    
	}

	.ios13-segmented-control .option:hover input:not(:checked) + label span, .ios13-segmented-control .option:active input:not(:checked) + label span, .ios13-segmented-control .option:focus input:not(:checked) + label span {
		opacity: .2;
	}

	.ios13-segmented-control .option:active input:not(:checked) + label span {
		transform: scale(.95);
	}

	.ios13-segmented-control .option label {
		position: relative;
		display: block;
		text-align: center;
		padding: 3px 6vmin;
		background: rgba(255,255,255,0);
		font-weight: 500;
		color: rgba(0,0,0,1);
    font-size: 14px;
	}

	.ios13-segmented-control .option label::before, .ios13-segmented-control .option label::after {
		content: '';
		width: 1px;
		background: rgba(142,142,147,.15);
		position: absolute;
		top: 14%;
		bottom: 14%;
		border-radius: 10px;
		will-change: background;
		-webkit-transition: background .2s ease;
    transition: background .2s ease;
	}

	.ios13-segmented-control .option label::before {
		left: 0;
		transform: translateX(-.5px);
	}

	.ios13-segmented-control .option label::after {
		right: 0;
		transform: translateX(.5px);
	}

	.ios13-segmented-control .option:first-of-type {
		grid-column: 1;
		grid-row: 1;
		box-shadow: none;
	}

	.ios13-segmented-control .option:first-of-type label::before {
		opacity: 0;
	}

	.ios13-segmented-control .option:last-of-type label::after {
		opacity: 0;
	}

	.ios13-segmented-control .option input {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		padding: 0;
		margin: 0;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		outline: none;
		border: none;
    opacity: 0;
    
	}

	.ios13-segmented-control .selection {
		background: rgba(255,255,255,1);
		border: .5px solid rgba(0,0,0,0.04);
		box-shadow: 0 3px 8px 0 rgba(0,0,0,0.12), 0 3px 1px 0 rgba(0,0,0,0.04);
		border-radius: 7px;
		grid-column: 1;
		grid-row: 1;
		z-index: 2;
		will-change: transform;
		-webkit-transition: transform .2s ease;
    transition: transform .2s ease;
    height: 29px;


	}

	.ios13-segmented-control .option label span {
		display: block;
		position: relative;
		z-index: 2;
		-webkit-transition: all .2s ease;
		transition: all .2s ease;
		will-change: transform;
	}

	.ios13-segmented-control .option input:checked+label::before, .ios13-segmented-control .option input:checked+label::after {
		background: var(--background);
		z-index:1;
	}

	.ios13-segmented-control .option input:checked+label {
		cursor: default;
	}